In [2]:
import pymysql

In [3]:
# 設定資料庫連線資訊
host = 'localhost'
port = 3306
user = 'root'
passwd = 'root'
db = 'testdb'
charset = 'utf8mb4'

In [4]:
# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [5]:
cursor = conn.cursor()

In [6]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

In [7]:
cursor.execute(sql)

1

In [8]:
conn.commit()

In [9]:
create_table_sql = """
CREATE TABLE IF NOT EXISTS `testdb`.`staff_2` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4
"""

In [10]:
cursor.execute(create_table_sql)

0

In [11]:
select_sql = """
    select * from staff
"""

cursor.execute(select_sql)

1

In [12]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [13]:
cursor.fetchall()

()

In [14]:
select_sql = """
    select * from staff
"""

cursor.execute(select_sql)

1

In [15]:
data = list(cursor.fetchall())

In [16]:
data

[('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57))]

In [17]:
cursor.close()
conn.close()